asgiref==3.8.1
certifi==2024.7.4
crispy-bootstrap5==2024.2
Django==5.1.4
django-crispy-forms==2.3
django-crum==0.7.9
django-geojson==4.1.0
django-leaflet==0.30.1
GDAL==3.2.2.1
geopandas==1.0.1
numpy==2.1.0
packaging==24.1
pandas==2.2.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyogrio==0.9.0
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
shapely==2.0.6
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
