{% extends 'baselog.html' %}
{% block content %}
    <div class="text-center mb-3">
    <a href="index.html"><img src="static/images/logo-full.png" alt=""></a>
    </div>
    <h4 class="text-center mb-4 text-white">Recuperar contraseña</h4>
    <form action="{% url 'change_password' 'prueba9j' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
            <label class="text-white"><strong>Usuario</strong></label>
            <input name="username" id="id_username" type="text" class="form-control" placeholder="Ingrese su usuario....">
        </div>
        <div class="text-center">
            <button type="submit" class="btn bg-white text-primary btn-block">Recuperar</button>
        </div>
    </form>
{% endblock %}